<footer class="bg-dark pt-3 footer" style="background-color: #202529;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="text-white">Nickson and Oluwatoyin &copy; 2023</p>
      </div>
    </div>
  </div>
</footer>
